.mySlides {display:none}

.img-center{
    margin-left: auto;
    margin-right: auto;
}

.main-contents h2 {
    color: white;
}

.main-contents p {
    color: whitesmoke
}

.text-right i {
    text-align: right
}

.AutoScaleDiv img
{
  max-width:100%; 
  max-height:100%;
  margin:auto;
  display:block;
}

.persona-scale {
    overflow: hidden;
}